.header {
    position: relative;
    text-align: center;
    margin-bottom: 2rem;
}

::deep .header-image {
    width: 100%;
    height: 500px;
    border-radius: 0.5rem;
}

.header-title {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.info-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.info-item {
    text-align: center;
}

.tags-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

    .tags-section .tag {
        background-color: #4caf50 !important; /* Verde */
        color: white;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;
    }

.additional-info {
    margin-bottom: 2rem;
}

    .additional-info p {
        font-weight: normal;
        text-align: justify;
        margin-bottom: 1rem;
    }

    .additional-info strong {
        font-weight: bold;
    }