<div class="modal is-active">
    <div class="modal-background" @onclick="ClosePopup"></div>
    <div class="modal-card">
        <section class="modal-card-body">
            <MoviesBasicListComponent Movies=Movies />
        </section>
    </div>
</div>


