<div class="progress-wrapper">
    <div class="progress-background">
        <div class="progress-foreground" style="width:@ProgressWidth%"></div>
    </div>
    <p>@DisplayTime / @TotalTime (@TotalMinutes @Localizer.GetString(nameof(ProgressBarComponentResource.TotalTimeLabel)))</p>
</div>





