<span class="field has-addons">
    <span class="control">
        <button class="button" type="button" @onclick=ResetClick>
            <span class="icon">
                <i class="fa-solid fa-rotate-left"></i>
            </span>
        </button>
    </span>
    <span class="control is-expanded">
        <input class="input" @bind=Text placeholder="Star Wars" />
    </span>
    <span class="control">
        <button class="button @(IsSearching ? "is-loading":" is-info")" type="button" @onclick=SearchClick>
            <span class="icon">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </button>
    </span>
</span>

@code {
    [Parameter] public EventCallback OnReset { get; set; }
    [Parameter] public EventCallback<string> OnSearch { get; set; }
    string Text;
    bool IsSearching;

    async Task SearchClick()
    {
        IsSearching = true;
        await OnSearch.InvokeAsync(Text);
        IsSearching = false;
    }  
    async Task ResetClick()
    {
        IsSearching = true;
        Text = string.Empty;
        await OnReset.InvokeAsync();
        IsSearching = false;
    }
}
