<div class="select-container">
    <div class="custom-select" @onclick="ToggleOptions">
        <ImageProtector Src="@SelectedFlag" />
    </div>
</div>
@if (ShowOptions)
{
    <div class="modal is-active">
        <div class="modal-background" @onclick="() => ShowOptions = false"></div>
        <div class="modal-content">
            <div class="custom-options">
                @foreach (var option in Options)
                {
                    <div @onclick="() => SelectOption(option.Key, option.Value.Flag, option.Value.Language)">
                        <ImageProtector Src="@option.Value.Flag" />
                        <span>@(new MarkupString(option.Value.Language))</span>
                    </div>
                }
            </div>
        </div>
    </div>         
}