.card-wrapper {
    border-bottom: 3px solid whitesmoke;
    margin: 1rem;
    padding: 1rem 1rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
}

    .card-wrapper ::deep .image-container {
        height: 250px;
    }
