@page "/add"
@* @attribute [Authorize] *@

<div class="container">
    <h1 class="title">Add New</h1>

    @if (Movie is not null)
    {
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Titulo español</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Cover URL" @bind="Movie.Title">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Totulo original</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Cover URL" @bind="Movie.OriginalTitle">
                    </div>
                </div>
            </div>
        </div>


        <div class="columns">
            <div class="column">
                @if (!string.IsNullOrEmpty(Movie.Cover))
                {
                    <figure class="image is-128x128">
                        <img src="@Movie.Cover" alt="Cover">
                    </figure>
                }
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Cover URL</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Cover URL" @bind="Movie.Cover">
                    </div>
                </div>

                <div class="box">
                    <div class="field">
                        <label class="label">Categories</label>
                        <div class="control">
                            <div class="tags">
                                @foreach (string category in Movie.Categories)
                                {
                                    <div class="tag is-link">
                                        <span>
                                            @category
                                        </span>
                                        <button type="button" @onclick="() => Movie.Categories.Remove(category)" class="delete is-small"></button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">

                <div class="field">
                    <label class="label">Rating</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="Rating" @bind="Movie.Rate">
                        <RateStarComponent Rate=Movie.Rate />
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Duracion</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="Cover URL" @bind="Movie.Duration">
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Año</label>
                    <div class="control">
                        <input class="input" type="number" placeholder="Cover URL" @bind="Movie.Year">
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="field">
                <label class="label">Actores</label>
                <div class="control">
                    <div class="tags">
                        @foreach (string actor in Movie.Actors)
                        {
                            <div class="tag is-warning ">
                                <span>
                                    @actor
                                </span>
                                <button type="button" @onclick="() => Movie.Actors.Remove(actor)" class="delete is-small"></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="box">
            <div class="field">
                <label class="label">Directores</label>
                <div class="control">
                    <div class="tags">
                        @foreach (string director in Movie.Directors)
                        {
                            <div class="tag is-success">
                                <span>
                                    @director
                                </span>
                                <button type="button" @onclick="() => Movie.Directors.Remove(director)" class="delete is-small"></button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Add notes</label>
            <div class="control">
                <textarea class="textarea" placeholder="Add notes" @bind="Movie.Prologo"></textarea>
            </div>
        </div>

        <div class="control">
            <button class="button is-primary" @onclick="SaveMovie">Save Movie</button>
        </div>
    }
    else
    {
        <div class="columns">
            <div class="column">
                <SearchMovieComponent OnSelect=OnMovieSelect TSearchService="SearchMovieSpanishService" />
            </div>
            <div class="column">
                <SearchMovieComponent OnSelect=OnMovieSelect TSearchService="SearchMovieEnglishService" />
            </div>
        </div>
    }
</div>