/* Custom CSS */
.field {
    margin-bottom: 1rem;
}

.box {
    padding: 1rem;
    border-radius: 8px;
    background-color: #f8f8f8;
}

.control {
    margin-bottom: 0.5rem;
}

.tag.is-light {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.button.is-primary {
    background-color: #6a0ae4;
    border-color: transparent;
    color: white;
}

    .button.is-primary:hover {
        background-color: #6a1b9a;
    }

.image img {
    max-width: 100px;
    border-radius: 8px;
}
