@page "/"

<PageTitle>@Localizer.GetString(nameof(ResourceIndex.PageTitle)) #@ViewModel.TotalMovies</PageTitle>

@if (ViewModel.IsReady)
{
    <h1 class="title">@Localizer.GetString(nameof(ResourceIndex.PageTitle)) #@ViewModel.TotalMovies</h1>
    <div class="pagination-container">
        <Paginator Handler=ViewModel.Paginator OnPageChange=ToPage />
    </div>
    <div class="wrapper">
        @foreach (ListCard movie in ViewModel.Items)
        {
            <ListCardComponent Movie=movie />
        }
    </div>
}
else
{
    <WaitingLoader />
}


