.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.title {
    margin: 1rem;
    display: flex;
    justify-content: space-between;
}

