.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

    .wrapper ::deep .card-wrapper {
        height: 250px;
    }

.title {
    margin: 1rem;
}

