@page "/"

<PageTitle>@Localizer.GetString(nameof(ResourceIndex.PageTitle)) #@ViewModel.TotalMovies</PageTitle>

@if (ViewModel.IsReady)
{
    <h1 class="title">
        <SearchComponent OnSearch=ViewModel.SeachMovie OnReset=ViewModel.GetList />
        <span>@Localizer.GetString(nameof(ResourceIndex.PageTitle))</span>
        <span>#@ViewModel.TotalMovies</span>
    </h1>
    <div class="pagination-container">
        <Paginator Handler=ViewModel.Paginator OnPageChange=ToPage />
    </div>
    <div class="wrapper">
        @foreach (ListCard movie in ViewModel.Items)
        {
            <ListCardComponent Movie=movie OnPlay=StartPlayMovie />
        }
    </div>
}
else
{
    <WaitingLoader />
}


