@page "/movie/{id}"

<PageTitle>@Movie?.Title</PageTitle>

<div class="container">
    <MovieDetailComponent Movie=Movie />
</div>

@code {
    [Inject] ApiClient Client { get; set; }
    [Parameter] public string Id { get; set; }
    Movie Movie;

    protected override void OnParametersSet()
    {
        Movie = null;
    }

    protected override async Task OnParametersSetAsync()
    {
        Movie = await Client.GetMovieDetailsAsync(Id);
    }
}