@page "/movie/{id}"

<PageTitle>@Movie?.Title</PageTitle>

<div class="container">
    @if (Movie is null)
    {
        <WaitingLoader />
    }
    else
    {
        <MovieDetailComponent Movie=Movie OnPlayClick=StartPlayMovie />
    }
</div>