.container {
    padding: 1rem;
}

.field.is-grouped {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.top-menu {
    width: 100%;
    background: white;
    padding-bottom: 0.2rem;
}
.top-menu {
    position: sticky;
    top: 0;
    z-index: 1;
}
