@page "/watching"

<div class="container">
    <MovieDetailComponent Movie=WatchingNow.Movie>
        <ProgressBarComponent Start="WatchingNow.Start" TotalMinutes="WatchingNow.Movie.Duration" />
    </MovieDetailComponent>    
</div>