@page "/watching"

<div class="container">
    @if (WatchingNow is null)
    {
        <WaitingLoader />
    }
    else
    {
        <MovieDetailComponent Movie=WatchingNow.Movie>
            <ProgressBarComponent Start="WatchingNow.Start" TotalMinutes="WatchingNow.Movie.Duration" />
        </MovieDetailComponent>
    }
</div>