.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.list-wrapper {
    background-color: ghostwhite;
    box-shadow: rgb(0 0 0 / 21%) 0px 0px 8px 1px;
    border-radius: 2rem;
    margin: 1.5rem;
    padding: 0;
    display: flex;
    flex-direction: column;
}

    .list-wrapper .subtitle {
        display: flex;
        flex-direction: column;
        flex-flow: wrap;
        margin: 2rem;
    }

    .list-wrapper .list-card-wrapper {
        background-color: #decdf3;
        border-radius: 2rem;
        margin: 0;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 1rem;
    }
