@page "/watchlist"
<PageTitle>@Localizer.GetString(nameof(ResourceWatchlist.TitleLabel))</PageTitle>

<div class="columns">
    <div class="column">
        <h1 class="title">@Localizer.GetString(nameof(ResourceWatchlist.TitleLabel))</h1>
    </div>
    <div class="column">
        <img src="_content/DrVideoLibrary.Razor/img/camara.png" alt="camara" />
    </div>
</div>
<div class="columns">
    <div class="column list-wrapper">
        @if (ViewModel.IsReady)
        {
            <h2 class="subtitle">
                <span>@Localizer.GetString(nameof(ResourceWatchlist.ListLabel))</span>
                <span>@ViewModel.TotalTime.ToString(TimeSpanLocalizer)</span>
            </h2>

            <div class="pagination-container">
                <Paginator Handler=ViewModel.Paginator OnPageChange=ToPage />
            </div>
            <div class="list-card-wrapper">
                @foreach (WatchedCard watched in ViewModel.Items)
                {
                    <WatchedCardComponent Movie=watched />
                }
            </div>
        }
    </div>
</div>

