.layout-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 0;
}

main {
    position: relative;
    flex: 1;
    margin-bottom: 7rem;
    z-index: 1;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

