@inherits LayoutComponentBase

<NotificationsRequestSubscription />
<div class="layout-container">
    <NavMenu />

    <main>
        @Body
    </main>

    <footer>
        <FooterMenu />
    </footer>
</div>

