.navbar-item ::deep .image-container {
    height: 4rem;
    width: 4rem;
}

.navbar-item ::deep .image-container.user-avatar {
    width: 2rem;
    height: 2rem;
}

    .navbar-item ::deep .image-container.user-avatar .image-content {
        border-radius: 50%;
    }


.navbar-burger {
    margin-left: auto;
}

.navbar-end {
    display: flex;
    align-items: center;
}
