<div class="loader-wrapper">
	<main>
		<div class="preloader">
			<div class="preloader__square"></div>
			<div class="preloader__square"></div>
			<div class="preloader__square"></div>
			<div class="preloader__square"></div>
		</div>
	</main>
</div>